<div id="banner" class="mod-common-banner">
    <div class="logo-wrap img-wrap">
        <img width="74" height="74" src="/dest/img/common/logo.png">
    </div>
    <div class="logo-text-wrap img-wrap">
        <img width="70" height="26" src="/dest/img/common/logo-text.png">
    </div>
    <p>中国保险人案件调查信息专业交流平台</p>
</div>