<div id="commonMenu" class="mod-common-menu">
    <ul class="menu">
        <a href="/" class="home item <%if(pageId=='index'){%>cur<%}%>">
            <i></i>
            <p>首页</p>
        </a>
        <a href="javascript:;" class="common-publish item">
            <i></i>
            <p>求购商品</p>
        </a>
        <a href="/mine" class="mine item <%if(pageId=='mine'){%>cur<%}%>">
            <i></i>
            <p>个人中心</p>
        </a>
    </ul>
</div>