<html>
<head>
    <meta chaset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no; email=no" />
    <meta name="keywords" content="e代查登陆">
    <meta name="description" content="e代查登陆">
    <title>易保通</title>
    <link rel="stylesheet" type="text/css" href="/dest/css/lib/lib.css">
    <link rel="stylesheet" type="text/css" href="/dest/css/agreement/agreement.css">
</head>
<body>
    <div id="scrollWrap" class="scroll-wrap">
        <div class="scroller">
            <h1>注册服务条款和隐私协议</h1>
            <div class="daoyan">
                <h2>导言</h2>
                <p>易保通是人身保险调查公益联盟的服务平台，其宗旨是建立“我为人人、人人为我”的保险调查互助、专业、共享平台，加入我们吧，汇集草根调查人的经验，提升自我价值，最优化行业资源！</p>
                <p class="block bold">本协议是您与易保通服务平台（包括易保通网站、易保通手机端）的所有者“易保康联信息技术有限责任公司”之间就易保通提供的信息服务等相关事宜所订立的合约或合同。</p>
                <p class="block bold">请您仔细阅读本条款，您勾选"我已了解并接受《注册服务条款》"并点击【立即注册】按钮注册成功后成为易保通的正式会员，本服务条款即构成了对双方具有法律约束力的文件。</p>
            </div>
            <div class="item">
                <h2>第一条 定义</h2>
                <p>易保通信息服务平台，为提供及维护信息发布的服务平台。其为平台注册用户提供信息中介和管理服务，并设计、开发信息服务产品，形成参考价格。</p>
                <p>平台注册用户是指通过易保通信息服务平台完成全部注册程序并经易保通审核通过后的用户。平台注册用户可以通过易保通信息服务平台创建、发布信息，也可以自主选择接受任务信息、完成任务事项，信息接收方在事项完成后获得信息发布方给付的相应积分奖励。</p>
            </div>
            <div class="item">
                <h2>第二条 服务条款的确认和接受</h2>
                <p>您应当在使用易保通信息服务平台的服务之前认真阅读全部条款内容。但无论您事实上是否在使用易保通信息服务平台的服务之前认真阅读了本条款内容，只要您使用易保通信息服务平台的服务，则本条款即对您产生约束，届时您不应以未阅读本条款的内容或者未获得易保通对您问询的解答等理由，主张本条款无效，或要求撤销本条款。</p>
                <p>用户必须完全同意所有服务条款并完成注册程序，才能成为易保通的注册用户。在您按照注册页面提示填写信息、阅读并同意本条款并完成全部注册程序后或以其他易保通允许的方式实际使用易保通信息服务平台的服务时，您即受本条款的约束。</p>
                <p>用户须确认，在完成注册程序或以其他易保通允许的方式实际使用易保通信息服务平台的服务时，应当是具备相应民事行为能力的自然人、法人或其他组织。</p>
                <p>当您在线下提供或接受服务的同时，您也承认了您拥有相应的权利能力和行为能力。您对提供或接受的任务事项的真实性、合法性负责，并能够独立承担法律责任。</p>
                <p>用户确认：本协议条款是处理双方权利义务的当然约定依据，除非违反国家强制性法律，否则始终有效。</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/dest/js/lib/lib.js"></script>
    <script type="text/javascript" src="/dest/js/common/common.js"></script>
    <script type="text/javascript" src="/dest/js/agreement/agreement.js"></script>
</body>
</html>