<!DOCTYPE html>
<html>
    <head>
        <meta chaset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no; email=no" />
        <meta name="keywords" content="e代查发布">
        <meta name="description" content="e代查发布">
        <title>易保通</title>
        <link rel="stylesheet" type="text/css" href="/dest/css/lib/lib.css">
        <link rel="stylesheet" type="text/css" href="/dest/css/published/published.css">
    </head>
    <body>
        <div id="publish" class="mod-publish">
            <div class="nav">
                <a href="javascript:history.back();" class="arrow"></a>
                <span>我发布的所有任务</span>
            </div>
            <div class="tab">
                <div class="check item cur" data-type="check">
                    <p class="title">排查</p>
                </div>
                <div class="reward item" data-type="reward">
                    <p class="title">悬赏</p>
                </div>
                <div class="trip item" data-type="trip">
                    <p class="title">行程</p>
                </div>
            </div>
        </div>
        <div id="mainPublish" class="mod-main-publish cf">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide check-wrap">
                        <div class="scroller">
                            <div class="pannel check-pannel">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide reward-wrap">
                        <div class="scroller">
                            <div class="pannel reward-pannel">

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide trip-wrap">
                        <div class="scroller">
                            <div class="pannel trip-pannel">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%include ../widget/common/menu%>
        <script type="text/javascript" src="/dest/js/lib/lib.js"></script>
        <script type="text/javascript" src="/dest/js/common/common.js"></script>
        <script type="text/javascript" src="/dest/js/published/published.js"></script>
    </body>
</html>