.mod-area-picker {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.mod-area-picker .header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 45px;
  background-color: #22bf64;
  color: #fff;
  display: box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.mod-area-picker .header .back {
  display: block;
  width: 45px;
  height: 100%;
  position: relative;
}
.mod-area-picker .header .back:active {
  background-color: #0c3e21;
}
.mod-area-picker .header .back:active:after {
  border-right-color: #0c3e21;
  z-index: 2;
  right: 14px;
}
.mod-area-picker .header .back:before,
.mod-area-picker .header .back:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  top: 50%;
  position: absolute;
  margin-top: -9px;
}
.mod-area-picker .header .back:before {
  border-right-color: #fff;
  z-index: 1;
  right: 18px;
}
.mod-area-picker .header .back:after {
  border-right-color: #2fc24f;
  z-index: 2;
  right: 14px;
}
.mod-area-picker .body {
  position: absolute;
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  background-color: #fff;
  display: box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.mod-area-picker .scroll-wrap {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
}
.mod-area-picker .sheng {
  width: 135px;
  height: 100%;
  background-color: #f2f2f2;
  position: relative;
}
.mod-area-picker .sheng li {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  color: #303037;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}
.mod-area-picker .sheng li:last-child {
  border-bottom: none;
}
.mod-area-picker .sheng li.cur {
  background-color: #fff;
  border-right: none;
}
.mod-area-picker .shi {
  box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}
.mod-area-picker .shi li {
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  color: #303037;
  padding-left: 30px;
}
.mod-area-picker .shi li.cur {
  background-color: #fff;
  border-right: none;
  color: #22bf64;
}
.mod-err-msg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.mod-err-msg .wrap {
  width: 90%;
  height: 115px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 16px;
}
.mod-err-msg .wrap .msg {
  height: 73px;
  line-height: 73px;
  text-align: center;
  color: #22bf64;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.mod-err-msg .wrap .msg i {
  display: block;
  width: 22px;
  height: 22px;
  background-size: 22px;
  background-repeat: no-repeat;
  margin-right: 6px;
}
.mod-err-msg .wrap button,
.mod-err-msg .wrap a {
  display: block;
  text-align: center;
  line-height: 42px;
  height: 42px;
  background-color: #22bf64;
  color: #fff;
  border-style: none;
  width: 100%;
  font-size: 18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.mod-err-msg .wrap.error .msg {
  color: #f2594b;
}
.mod-err-msg .wrap.error .msg i {
  background-image: url(/dest/img/common/error-icon.png);
}
.mod-err-msg .wrap.error button,
.mod-err-msg .wrap.error a {
  background-color: #f2594b;
}
.mod-err-msg .wrap.success .msg i {
  background-image: url(/dest/img/common/success-icon.png);
}
.mod-common-banner {
  padding-top: 22px;
  height: 175px;
  background-color: #22bf64;
  color: #bce7ca;
  text-align: center;
  box-shadow: 0 0px 10px -1px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
}
.mod-common-banner .img-wrap {
  text-align: center;
}
.mod-common-banner .logo-text-wrap {
  margin-top: 15px;
}
.mod-common-banner p {
  margin-top: 10px;
  font-size: 14px;
}
.mod-common-menu {
  bottom: 0px;
  height: 50px;
  background-color: #fff;
  color: #8b91a6;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.mod-common-menu .menu {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
.mod-common-menu .menu .item {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
  test-align: center;
  color: #8b91a6;
}
.mod-common-menu .menu .item p {
  margin-top: 5px;
  font-size: 12px;
}
.mod-common-menu .menu .item i {
  display: block;
  width: 25px;
  height: 23px;
  background-size: 25px 23px;
  background-repeat: no-repeat;
}
.mod-common-menu .menu .item.home i {
  background-image: url(/dest/img/common/home-icon.png);
}
.mod-common-menu .menu .item.home.cur i {
  background-image: url(/dest/img/common/home-icon-hover.png);
}
.mod-common-menu .menu .item.common-publish i {
  background-image: url(/dest/img/common/publish-icon.png);
}
.mod-common-menu .menu .item.common-publish.cur i {
  background-image: url(/dest/img/common/publish-icon-hover.png);
}
.mod-common-menu .menu .item.mine i {
  background-image: url(/dest/img/common/mine-icon.png);
}
.mod-common-menu .menu .item.mine.cur i {
  background-image: url(/dest/img/common/mine-icon-hover.png);
}
.mod-common-menu .menu .cur p {
  color: #22bf64;
}
.mod-publish-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  z-index: 10000;
}
.mod-publish-layer .tasks {
  position: absolute;
  bottom: 100px;
  width: 100%;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.mod-publish-layer .tasks a {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
  text-align: center;
  color: #fff;
}
.mod-publish-layer .tasks a .icon-wrap {
  background-color: #fff;
  width: 61px;
  height: 61px;
  border-radius: 100px;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.mod-publish-layer .tasks a p {
  font-size: 16px;
  margin-top: 10px;
}
.mod-publish-layer .close {
  position: absolute;
  bottom: 15px;
  width: 30px;
  height: 30px;
  background: url(/dest/img/common/close.png);
  background-size: 30px;
  left: 50%;
  margin-left: -15px;
}
.mod-common-title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 45px;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #22bf64;
  color: #fff;
  font-size: 17px;
  z-index: 1000;
}
.mod-common-title .arrow {
  display: block;
  position: relative;
  width: 45px;
  height: 100%;
}
.mod-common-title .arrow:before,
.mod-common-title .arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  top: 50%;
  position: absolute;
  margin-top: -9px;
}
.mod-common-title .arrow:before {
  border-right-color: #fff;
  z-index: 1;
  right: 18px;
}
.mod-common-title .arrow:after {
  border-right-color: #2fc24f;
  z-index: 2;
  right: 14px;
}
.mod-common-title .text {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
body {
  background-color: #f3f3f3;
}
.scroll-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50px;
}
.mod-banner {
  height: 82px;
  background-color: #22bf64;
  color: #bce7ca;
  background-image: url(/dest/img/page/index/banner-bg.jpg);
  background-position: top right;
  background-size: 50%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 17px;
}
.mod-banner p {
  font-size: 12px;
  color: #a9e1bc;
}
.mod-unfinish {
  background-color: #fff;
  box-shadow: 0px 1px 4px -2px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}
.mod-unfinish .title {
  height: 44px;
  line-height: 44px;
  padding: 0 22px;
  font-size: 14px;
  color: #8b91a6;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #d1d5e6;
}
.mod-unfinish .title i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/dest/img/page/mine/unfinish-icon.png);
  background-size: 16px;
  margin-right: 7px;
}
.mod-unfinish .sorts {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  height: 65px;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 5px;
}
.mod-unfinish .sort {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: 45px;
  border-right: 1px solid #d1d5e6;
  text-align: center;
}
.mod-unfinish .sort:last-child {
  border-right: none;
}
.mod-unfinish .num {
  font-size: 17px;
  color: #f2594b;
  margin-bottom: 10px;
}
.mod-unfinish .text {
  font-size: 16px;
  color: #8b91a6;
}
.mod-entrance {
  background-color: #fff;
}
.mod-entrance ul {
  height: 285px;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
}
.mod-entrance li {
  width: 90%;
  height: 80px;
  padding: 0 16px;
  margin-bottom: 8px;
}
.mod-entrance li:last-child {
  margin-bottom: 0;
}
.mod-entrance li a {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 10px;
}
.mod-entrance li a .title {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}
.mod-entrance li a .des {
  font-size: 14px;
}
.mod-entrance li .check {
  background-color: #eaad43;
}
.mod-entrance li .check .des {
  color: #f5d9b2;
}
.mod-entrance li .reward {
  background-color: #83c952;
}
.mod-entrance li .reward .des {
  color: #c7e5b6;
}
.mod-entrance li .trip {
  background-color: #48a6e6;
}
.mod-entrance li .trip .des {
  color: #b3d6f3;
}
.mod-entrance li .icon-wrap {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 1000px;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
  margin-right: 12px;
  margin-left: 19px;
  position: relative;
}
.mod-entrance li .icon-wrap i {
  display: block;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 8px;
  height: 8px;
  background-color: #ff3e2c;
  border-radius: 10px;
}
.mod-wait {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.mod-wait .banner {
  width: 290px;
  height: 230px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-image: -webkit-linear-gradient(to bottom, #102c55, #336aa4);
  background-image: linear-gradient(to bottom, #102c55, #336aa4);
}
.mod-wait .des {
  width: 290px;
  height: 160px;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}
.mod-wait .des .p1 {
  color: #15aa68;
  font-size: 16px;
  margin-bottom: 7px;
}
.mod-wait .des .p2,
.mod-wait .des .p3 {
  color: #a5abbd;
  font-size: 12px;
  margin-bottom: 7px;
}
.mod-wait .des .progress {
  position: relative;
  margin-top: 18px;
}
.mod-wait .des .line {
  position: absolute;
  padding: 0 52px;
  width: 100%;
  box-sizing: border-box;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  top: 13px;
}
.mod-wait .des .line .green,
.mod-wait .des .line .gray {
  display: block;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: 2px;
}
.mod-wait .des .line .green {
  background-color: #22bf64;
}
.mod-wait .des .line .gray {
  background-color: #a5abbd;
}
.mod-wait .des .step {
  position: relative;
  z-index: 2;
  font-size: 11px;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 20px;
}
.mod-wait .des .step i {
  margin: 0 auto;
  margin-bottom: 7px;
  display: block;
  width: 22px;
  height: 22px;
  background-size: 22px;
  background-repeat: no-repeat;
}
.mod-wait .des .step .step1 {
  color: #22bf64;
}
.mod-wait .des .step .step1 i {
  background-image: url(/dest/img/common/success-icon.png);
}
.mod-wait .des .step .step2 i,
.mod-wait .des .step .step3 i {
  line-height: 22px;
  font-size: 15px;
  text-align: center;
  border-radius: 100px;
  background-color: #fff;
}
.mod-wait .des .step .step2 i {
  color: #1f7cce;
  border: 2px solid #1f7cce;
}
.mod-wait .des .step .step2 p {
  color: #1f7cce;
}
.mod-wait .des .step .step3 i {
  color: #a5abbd;
  border: 2px solid #a5abbd;
}
.mod-wait .des .step .step3 p {
  color: #a5abbd;
}


/*
sprite.png

*/
